  .container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  .button{
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    background-color: #4ECCA3;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    transition: 0.5s;

  }
  .button:hover{
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    background-color:#232931;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
  }
  .button:focus{
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    background-color:#4ECCA3;
    border: black;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
  }
  .center{
      text-align: center;
      display: flex;
      justify-content: center;
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 55px;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }

  .hidden{
      display: none;
  }
  